    <div id="container">
      <div class="inner">

        <header>
         <a href="http://dqrobotics.sourceforge.net"><img src="images/dqrobotics_logo_infinity.png"/></a>
          <h2 style="color:#A00000;margin-left:0px">The dual quaternion robotics library</h2>
        </header>
         <hr>
        <section id="downloads" class="clearfix">

          <a target="_blank" href="https://github.com/dqrobotics" id="view-on-github" class="button"><span>Code on GitHub!</span></a>

          <a href="citations.html" id="tutorials" class="button"><span>Citations</span></a>
            
          <a target="_blank" href="https://dqroboticsgithubio.readthedocs.io/en/latest/" id="tutorials" class="button"><span>Read the Docs</span></a>

          <a target="_blank" href="https://github.com/dqrobotics/matlab/issues" id="report-bug" class="button"><span>Issue tracker (MATLAB)</span></a>
            
          <a target="_blank" href="https://github.com/dqrobotics/cpp/issues" id="report-bug" class="button"><span>Issue tracker (C++)</span></a>

          <a target="_blank" href="https://github.com/dqrobotics/python/issues" id="report-bug" class="button"><span>Issue tracker (Python)</span></a>

          </section>

        <!--<section id="downloads" class="clearfix">

          

          <!--<a href="http://sourceforge.net/p/dqrobotics/code/HEAD/tarball" id="download-zip" class="button"><span>Download .zip</span></a>

          <a href="http://sourceforge.net/p/dqrobotics/tickets/" id="report-bug" class="button"><span>Report bug</span></a>

        </section>-->

        
