---

---
{% include top.html %}
{% include header.html %}

     


###…or download it through svn

{% highlight sh %}
svn checkout http://svn.code.sf.net/p/dqrobotics/code/trunk dqrobotics
{% endhighlight %}

<hr />

#What is DQ Robotics?

DQ Robotics is a stand alone open-source Robotics library. It provides [dual quaternion]("http://en.wikipedia.org/wiki/Dual_quaternion") algebra, kinematic calculation algorithms in MATLAB and C++ that can be applied in robot control. The library has a catkin package wrapper for use in [ROS Indigo](http://wiki.ros.org/indigo/Installation/Ubuntu), and also provides a [V-REP](http://www.coppeliarobotics.com/") interface.

<p>Report any issues you might have with the installation and usage at the <a href="http://sourceforge.net/p/dqrobotics/tickets/">issue tracker</a>.</p>

<!--There are several published research papers that used DQ robotics: [[1]](http://www.sbai2013.ufc.br/pdfs/7359.pdf), [[2]](http://ieeexplore.ieee.org/xpl/articleDetails.jsp?reload=true&arnumber=6913799), -->
<hr />

<h2 id="installation">Installation</h2>

<h3 id="matlab">MATLAB</h3>
<p>In order to use DQ Robotics on your MATLAB installation, and supposing you did the checkout at <strong>[PATH_TO_DQ_ROBOTICS_FOLDER]</strong>, just add</p>

<div class="highlight"><pre><code class="language-sh" data-lang="sh"><span class="o">[</span>PATH_TO_DQ_ROBOTICS_FOLDER<span class="o">]</span>/dq_robotics/ROS/dq_robotics</code></pre></div>

<p>and subfolders to your MATLAB path.</p>

<p>The library is stand alone, but some examples use the <a href="http://www.petercorke.com/Robotics_Toolbox.html">Robotics Toolbox</a>.</p>

<h3 id="c">C++</h3>
<p>The official support is for Ubuntu only. However, it should work out-of-the-box in any system in which you can install <a href="http://eigen.tuxfamily.org/index.php?title=Main_Page">Eigen3</a>.</p>

<p>First install Eigen3 and create a symbolic link of Eigen3 in your user include folder:</p>

<div class="highlight"><pre><code class="language-sh" data-lang="sh">sudo apt-get install libeigen3-dev
sudo ln -s /usr/include/eigen3/Eigen/ /usr/local/include/</code></pre></div>

<p>Compile the examples by doing:</p>

<div class="highlight"><pre><code class="language-sh" data-lang="sh"><span class="nb">cd</span> <span class="o">[</span>PATH_TO_DQ_ROBOTICS_FOLDER<span class="o">]</span>/C++/examples
make all</code></pre></div>

<p>If there are no errors, you’re set to use the files in your own projects! You can also create your own files in the example folder and add them to the MAKEFILE for compilation.</p>

<h3 id="ros">ROS</h3>
<p>There is a catkin ROS package available in the distribution. The latest build has been tested with <a href="http://wiki.ros.org/indigo/Installation/Ubuntu">ROS Indigo</a> and <a href="http://www.ubuntu.com/download/desktop">Ubuntu 14.04 LTS</a>.</p>

<p>In order to use it, copy the catkin package</p>

<div class="highlight"><pre><code class="language-sh" data-lang="sh"><span class="o">[</span>PATH_TO_DQ_ROBOTICS_FOLDER<span class="o">]</span>/dq_robotics/ROS/dq_robotics</code></pre></div>

<p>to your catkin workspace. If you installed Eigen3 as described in the last step, it should compile without problems.</p>

<p>There’s an example catkin package that uses the dq_robotics catkin package</p>

<div class="highlight"><pre><code class="language-sh" data-lang="sh"><span class="o">[</span>PATH_TO_DQ_ROBOTICS_FOLDER<span class="o">]</span>/dq_robotics/ROS/dq_robotics_example</code></pre></div>

<p>Use it as a reference when creating packages that depend on dq_robotics.</p>


{% include footer.html %}
